
<div mat-dialog-content>
  <p>Revise su conexión a Internet ó el servicio dejo de responder
    <br>Reintente o Comuníquese con un administrador</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>
