div.container {
  height: 57px;
  position: relative;
}

div.container mat-form-field {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.horizontal-div {
  margin-right: 15px;
}
