
<div class="container">
  <mat-form-field class="width-field">
    <mat-label>Seleccionar</mat-label>
    <mat-select (selectionChange)="searchIndicator($event)">
      <mat-option *ngFor="let ind of indicators;let i=index" [value]="ind"
        >{{ind}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div>
  <ngx-charts-area-chart-stacked
    *ngIf="showCharts"
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="results"
    (select)="onSelect($event)">
  </ngx-charts-area-chart-stacked>
</div>
